body{
    background-color: black;
}
.div_heading{
    background-color:rgb(250, 250, 250);
    color:darkgreen ;
    font-weight:600;
    font-size: 30px;
}
.color{
    background-color: rgb(250, 250, 250);
    color: darkgreen;
}
.foot{
background-color: rgb(250, 250, 250);
color: darkgreen;
width: 100%;
position:absolute;
line-height: 2;
bottom: -10px;

}                   


